body {
    text-align: center;
}

button.donut {
    width: 50px;
    height: 50px;
    background-size: 100%;
    
}

.donut img {
    height: 40px;
    width: 
}

#caterpillar-dog {
    /* line-height: 3em; */
}
.head {
    padding-top: 30px; 
    height: 150px;
}

.part {
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    margin-left: -12px;
    line-height: 7em;
    margin-bottom: 35px;
}

.blue-donut {
    background-color:blue;
}

.brown-donut {
    background-color:brown;
}

.choc-donut {
    background-color:rgb(83, 10, 10);
}

.green-donut {
    background-color:green;
}

.light-pink-donut {
    background-color:pink;
}

.pink-donut {
    background-color:rgb(248, 24, 61);
}

.yellow-donut {
    background-color: yellow;
}